In [1]:
import pandas as pd
import statistics as sts
import seaborn as srn

In [58]:
# Importar e Explorar
dados = pd.read_csv('tempo.csv', sep=';')

In [59]:
dados.shape

(14, 5)

In [60]:
dados.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
#Tratar dados 'tempo.csv'
#AparÃªncia: sol, nublado, chuva
#Temperatura: -135 ~ 130 F
#Umidade: 0 ~ 100
#Jogar: sim/nao
#Tratar valores NAs

In [61]:
## Parte 1 - Explorar Dados Categoricos
### visualizar Aparencia
contaAparencia = dados['Aparencia']
contaAparencia

0         sol
1         sol
2     nublado
3       chuva
4       chuva
5       chuva
6       menos
7         sol
8         sol
9       chuva
10        sol
11    nublado
12    nublado
13      chuva
Name: Aparencia, dtype: object

In [62]:
### visualizar Vento
contaVento = dados['Vento']
contaVento

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9            NaN
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [63]:
## Parte 2 - Explorar Dados Numericos
### visualizar Temperatura
dados['Temperatura'].describe()

### visualizar Temperatura fora do perfil -130 ~ 130
dados.loc[(dados['Temperatura'] < -130) | (dados['Temperatura'] > 130)]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [64]:
### visualizar Umidade fora do perfil 0 ~ 100
dados.loc[(dados['Umidade'] < 0) | (dados['Umidade'] > 100) ]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva           75    200.0   NaN   sim

In [65]:
## Parte 3 - Explorar NaNs
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [66]:
## Parte 4 - Duplicidade de Registros
dados[dados.duplicated()].sum()

Aparencia        0
Temperatura      0
Umidade        0.0
Vento            0
Jogar            0
dtype: object

In [71]:
# Tratar
## tratar Aparencia e aplicar o moda
contaAparencia

dados.loc[dados['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
dados['Aparencia']

0         sol
1         sol
2     nublado
3       chuva
4       chuva
5       chuva
6         sol
7         sol
8         sol
9       chuva
10        sol
11    nublado
12    nublado
13      chuva
Name: Aparencia, dtype: object

In [72]:
## criar mediana da Temperatura fora do perfil
medianaTemp = sts.median(dados['Temperatura'])
medianaTemp

73.5

In [73]:
## tratar mediana da Temperatura fora do perfil
dados.loc[(dados['Temperatura'] < -130) | (dados['Temperatura'] > 130), 'Temperatura'] = medianaTemp
dados['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [74]:
## criar mediana da Umidade fora do perfil
medianaUmid = sts.median(dados['Umidade'])
medianaUmid

85.5

In [75]:
## tratar mediana da Umidade fora do perfil
dados.loc[(dados['Umidade'] < 0)| (dados['Umidade'] > 100), 'Umidade'] = medianaUmid
dados['Umidade'].describe()

count    13.000000
mean     80.961538
std       9.896257
min      65.000000
25%      70.000000
50%      85.000000
75%      90.000000
max      95.000000
Name: Umidade, dtype: float64

In [78]:
## tratar NaNs
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [77]:
## Nans Umidade
dados.loc(dados['Umidade'].fillna(medianaUmid, inplace=True))
dados['Umidade']

0     85.0
1     90.0
2     86.0
3     85.5
4     80.0
5     70.0
6     65.0
7     95.0
8     70.0
9     85.5
10    70.0
11    90.0
12    75.0
13    91.0
Name: Umidade, dtype: float64

In [81]:
## Nans Vento - usar moda
dados['Vento'].fillna('VERDADEIRO', inplace=True)
dados['Vento']

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9     VERDADEIRO
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [82]:
dados

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5  VERDADEIRO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao